@font-face {
    src: url('./fonts/NanumSquareR.ttf');
    font-family: 'NanumSquare';
}

@font-face {
    src: url('./fonts/PyeongChangPeace-Light.ttf');
    font-family: '평창 평화체';
}

@font-face {
    src: url('./fonts/PyeongChangPeace-Bold.ttf');
    font-family: '평창 평화체B';
}

* {
    font-family: 'NanumSquare'
}

body {
    background: whitesmoke;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}

header {
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-image: url('header.png');
    background-size: cover;
    z-index: 2;
}

header > nav {
	width:100%;
	height:100%;
}

header ul {
	height: 100%;
	display: flex;
	justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 0;
}

header ul > li {
	height: 100%;
	display: flex;
	align-items: center;
    margin: 0 5% 0 5%;
    font-size: 5%;
}

#top {
    font-family: '평창 평화체';
    font-size: 120%;
    text-align: center;
    padding: 20% 5% 0 5%;
}

#quiz {
    margin-top:10%;
}

#result {
    margin:0;
    width: 90%;
    padding: 10% 5% 0 5%;
}

#result-bg-a {
    width: 100%;
    background-image: url('quizA_result.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#result-bg-b {
    width: 100%;
    background-image: url('quizB_result.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#user {
    font-family: '평창 평화체';
    font-size: 10%;
    padding: 40% 0 0 24%;
}

#score {
    text-align: center;
    font-family: '평창 평화체B';
    font-size: 400%;
    padding: 0 35% 20% 30%;
    margin-top: 10%;
}

#extra {
    font-size: 5%;
    padding: 5% 0 0 0;
}

.question {
    margin-bottom: 10%;
}

.Qpics {
    display: inline-block;
}

.Qpics > img {
    display: block;
    width: 100%;
}

.quiz-container{
    position:relative;
    font-size:17px;
    color:black;
    height:10%;
    margin-top:0;
}

.slide{
   position:absolute;
   left:0;
   top:100%;
   width:90%;
   padding: 0% 5% 0% 5%;
   z-index:1;
   opacity:0;
   transition: opacity 0.3s;
}

.quiz-ctrl {
    margin-top:165%;
    text-align: center;
}

.active-slide{
   opacity:1;
   z-index:2;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 3%;
    border-radius: 20%;
    text-decoration: none;
}

.w-btn-start {
    background-color: #5ebe7e;
    color: white;
}

.w-btn-next {
    background-color: #7b4c92;
    color: white;
}

.w-btn-prev {
    background-color: #a3a1a1;
    color: white;
}

.w-btn-submit {
    background-color: #ff5f2e;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -10;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }

  .window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .popup {      
    text-align: center;
    padding: 10% 10% 10% 10%;
    margin: 0 5% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 35%;
  }

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .inputUser {
      text-align: center;
      margin-bottom: 5%;
  }

  .nick {
      margin-bottom: 10%;
  }

  .modalTop {
      font-family: '평창 평화체';
      font-size: 200%;
      text-align: center;
      margin-bottom: 10%;
  }

  .modalBottom {
    text-align: center;
    font-size: 70%;
    margin: 5% 0 5% 0;
  }

  .userinput {
    border: none;
    border-bottom: solid 2px #7b4c92;
    text-align: center;
  }
